{% extends 'base.html.twig' %}

{% block body %}

    <div id="participant-container" class="row">
        <div class="image-participant col-md-4">
            <div>
                {% if participant.photo %}
                    <img src="{{ asset('uploads/photos/'~participant.photo) }}" alt="{{ participant.pseudo }}">
                {% else %}
                    <img src="{{ asset('img/user-default.png') }}" alt="{{ participant.pseudo }}">
                {% endif %}
            </div>
        </div>

        <div class="infos-participant col-md-8">
            <h1>{{ participant.pseudo | title }}</h1>
            <div>
                <label for="prenom">Prénom : {{ participant.prenom }}</label>
            </div>
            <div>
                <label for="nom">Nom : {{ participant.nom }}</label>
            </div>
            <div>
                <label for="telephone">Téléphone : {{ participant.telephone }}</label>
            </div>
            <div>
                <label for="">Email : {{ participant.email }}</label>
            </div>
            <div>
                <label for="">Campus : {{ participant.campus.nom }}</label>
            </div>

            <div class="btn-container">
                {% if app.user.id == participant.id %}
                    <a href="{{ path("participant_modifier") }}">Modifier</a>
                {% endif %}
                <a href="{{ path("sortie_list") }}" type="button">Retour</a>
            </div>
        </div>

    </div>



{% endblock %}

{% block title %}
    {{ participant.pseudo }}
{% endblock %}

