{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <div class="image-participant">
        <div>
            {% if participant.photo  %}
                <img src="{{ asset('uploads/photos/'~participant.photo) }}" alt="{{ participant.pseudo }}">
            {% else %}
                <img src="{{ asset('img/user-default.png') }}" alt="{{ participant.pseudo }}">
            {% endif %}
        </div>
    </div>
    <div>
        <label for="prenom">Prénom : {{ participant.prenom }}</label>
    </div>
    <div>
        <label for="nom">Nom : {{ participant.nom }}</label>
    </div>
    <div>
        <label for="telephone">Téléphone : {{ participant.telephone }}</label>
    </div>
    <div>
        <label for="">Email : {{ participant.email }}</label>
    </div>
    <div>
        <label for="">Campus : {{ participant.campus.nom }}</label>
    </div>

    {% if app.user.id == participant.id %}
        <a href="{{ path("participant_modifier") }}">
            <button type="button" class="btn">Modifier</button>
        </a>
    {% endif %}

    <a href="{{ path("sortie_list") }}">
        <button type="button" class="btn">Retour</button>
    </a>

{% endblock %}

{% block title %}
    {{ participant.pseudo }}
{% endblock %}

