{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="editPassword">
        <h2>{{ participant.pseudo | title }}</h2>
        <div class="image-participant col-md-4">
            <div>
                {% if participant.photo  %}
                    <img src="{{ asset('uploads/photos/'~participant.photo) }}" alt="{{ participant.pseudo }}">
                {% else %}
                    <img src="{{ asset('img/user-default.png') }}" alt="{{ participant.pseudo }}">
                {% endif %}
            </div>
        </div>
        <div class="participant-infos col-md-8">
            {{ form_start(editPasswordForm) }}

            {{ form_widget(editPasswordForm) }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a class="btn btn-primary" href="{{ path('participant_modifier') }}">
                    Annuler
                </a>
            {{ form_end(editPasswordForm) }}
        </div>
    </div>

{% endblock %}

{% block title %}
    Modification du mot de passe
{% endblock %}