{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <div class="image-participant">
        <div>
            {% if participant.photo  %}
                <img src="{{ asset('uploads/photos/'~participant.photo) }}" alt="{{ participant.pseudo }}">
            {% else %}
                <img src="{{ asset('img/user-default.png') }}" alt="{{ participant.pseudo }}">
            {% endif %}
        </div>
    </div>
    <div class="participant-infos">
        {{ form_start(editPasswordForm) }}

        {{ form_widget(editPasswordForm) }}
        <button type="submit" class="btn">Enregistrer</button>
        <button type="button" class="btn">
            <a href="{{ path('participant_modifier') }}">
                Annuler
            </a>
        </button>
        {{ form_end(editPasswordForm) }}
    </div>
{% endblock %}

{% block title %}
    Modification du mot de passe
{% endblock %}