{% extends 'base.html.twig' %}

{% block title %}Gestion du profil{% endblock %}

{% block body %}


    <div class="image-participant profile-container row" id="profileModifier">
        <div>
            <h2>Modification de mon profil</h2>
        </div>

        <div class="image-participant col-md-4">
            <div>
                {% if participant.photo %}
                    <img src="{{ asset('uploads/photos/'~participant.photo) }}" alt="{{ participant.pseudo }}">
                {% else %}
                    <img src="{{ asset("img/user-default.png") }}" alt="{{ participant.pseudo }}">
                {% endif %}
            </div>
        </div>

    <div class="participant-infos  col-md-8">
        {{ form_start(participantForm, {'attr': {'id': 'modifProfil'}}) }}
        <input type="hidden" name="id"
               value="{{ participant.id }}"
        >
        {{ form_widget(participantForm) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>

            <a class="btn btn-primary" href="{{ path('participant_afficher',{'id': app.user.id }) }}">
                Annuler
            </a>
            <a class="btn btn-primary" href="{{ path('participant_editPassword') }}">
                Modifier le mot de passe
            </a>

        {{ form_end(participantForm) }}
    </div>
    </div>

{% endblock %}
