<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ sortie.nom }}</h5>
        <p class="text-muted">{{ sortie.infosSortie }}</p>
        <p class="info">Organisée par :
            {% if(app.user) %}
                <a href="{{ path('participant_afficher',{'id':sortie.organisateur.id}) }}">
                    {{ sortie.organisateur.prenom | title }}
                </a>
            {% else %}
                {{ sortie.organisateur.prenom | title }}
            {% endif %}
            , le {{ sortie.dateHeureDebut | format_datetime('full', 'short', locale='fr') }}</p>
        <p class="info">Nombre de participants : {{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</p>

        <p class="info">Date Limite d'Inscription
            : {{ sortie.dateLimiteInscription | format_datetime('full', 'short', locale='fr') }}</p>
        <div class="card-links">

            {% if sortie.participants.contains(app.user) %}
                    <a href="{{ path('sortie_desinscription',{'id':sortie.id}) }}">Se désister</a>
            {% else %}
                {% if app.user and sortie.dateLimiteInscription > date() and sortie.participants.count < sortie.nbInscriptionsMax %}
                    <a href="{{ path('sortie_inscription',{'id':sortie.id}) }}">S'inscrire</a>
                {% endif %}

            {% endif %}

            {% if sortie.organisateur == app.user and (sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Créée')  %}
                <a href="{{ path('sortie_update', {id: sortie.id}) }}">Modifier</a>
            {% endif %}
            {% if sortie.organisateur == app.user and sortie.etat.libelle == 'Créée' %}
                <a href="{{ path('sortie_publish', {id: sortie.id}) }}">Publier</a>
            {% endif %}
            <a href="{{ path('sortie_show', {id: sortie.id}) }}">Afficher</a>
        </div>
    </div>
</div>
