{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

<div class="container">

    <div class="row sorties-header">
        <div>
            Date du jour: {{ 'now'|format_date('full', locale='fr') }}
        </div>
        {% if app.user %}
            <div>Participant: {{ app.user.prenom }} {{ app.user.nom }}.</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-3" id="filtreSorties">
            <h3>Flitrer les sorties</h3>

            <div class="filter">
                {{ form_start(sortieForm) }}
                {{ form_widget(sortieForm) }}
                <button type="submit" class="btn btn-primary w-100">Rechercher</button>
                {{ form_end(sortieForm) }}
            </div>

        </div>

        <div class="col-md-9" id="listeDesSorties">
            <table>
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | format_datetime('full', 'short', locale='fr') }}</td>
                        <td>{{ sortie.dateLimiteInscription | format_datetime('full', 'short', locale='fr') }}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td></td>
                        <td>{{ sortie.organisateur.prenom }}</td>
                        <td>
                            {% for participant in sortie.participants %}
                                {% if participant.id == app.user.id %}<a>Se Désister</a>{% endif %}
                            {% else %}
                                <a>S'inscrire</a>
                            {% endfor %}
                            {% if sortie.organisateur == app.user %}
                                <a href="#">Modifier</a>
                                <a href="#">Publier</a>
                            {% endif %}
                            <a href="#">Afficher</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

</div>



    <a href="#">Créer une sortie</a>

{% endblock %}
