{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-4" id="filtreSorties">
            <div class="filter">
                <div class="text-muted">
                    Date du jour: {{ 'now'|format_date('full', locale='fr') }}
                </div>
                {% if app.user %}
                    <div class="text-muted">Participant: {{ app.user.prenom }} {{ app.user.nom }}.</div>
                {% endif %}
                <h4>Filtrer les sorties</h4>
                {{ form_start(sortieForm, {'attr': {'class': 'text-muted'}}) }}
                {{ form_widget(sortieForm) }}
                <button type="submit" class="btn btn-primary w-100">Rechercher</button>
                {{ form_end(sortieForm) }}
                {% if app.user %}
                    <a href="{{ path('sortie_create') }}" class="btn btn-primary w-100">Créer une sortie</a>
                {% endif %}

            </div>
        </div>

        <div class="col-md-8" id="listeDesSorties">
            {% for sortie in sorties %}
                {% include 'sortie/_card.html.twig' with {sortie: sortie} %}
            {% endfor %}
        </div>

{% endblock %}
