{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-3" id="filtreSorties">

            <div class="sorties-header">
                <div>
                    Date du jour: {{ 'now'|format_date('full', locale='fr') }}
                </div>
                {% if app.user %}
                    <div>Participant: {{ app.user.prenom }} {{ app.user.nom }}.</div>
                {% endif %}
            </div>

            <h3>Flitrer les sorties</h3>
            <div class="filter">
                {{ form_start(sortieForm) }}
                {{ form_widget(sortieForm) }}
                <button type="submit" class="btn btn-primary w-100">Rechercher</button>
                {{ form_end(sortieForm) }}
            </div>
        </div>

        <div class="col-md-9" id="listeDesSorties">
            <a href="#"  id="creerSortieCard">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Créer une sortie</h5>
                    </div>
                </div>
            </a>
            {% for sortie in sorties %}
                {% include 'sortie/_card.html.twig' with {sortie: sortie} %}
            {% endfor %}
        </div>

{% endblock %}
