{% extends 'base.html.twig' %}

{% block body %}
    <section id="afficherSortie">
        <h1>Détail de la sortie</h1>

        <article>
            <div class="div-span">
                <div>
                    <span>Nom de la sortie :</span>
                    <span>{{ sortie.nom }}</span>
                </div>
                <div>
                    <span>Date et heure de la sortie :</span>
                    <span>{{ sortie.dateHeureDebut | date("Y-m-d") }}</span>
                </div>
                <div>
                    <span>Date limite d'inscription :</span>
                    <span>{{ sortie.dateLimiteInscription | date("Y-m-d") }}</span>
                </div>
                <div>
                    <span>Durée :</span>
                    <span>{{ sortie.duree }} minutes</span>
                </div>
                <div>
                    <span>Nombre de places :</span>
                    <span>{{ sortie.nbInscriptionsMax }}</span>
                </div>
                <div>
                    <span>Description et infos :</span>
                    <span>{{ sortie.infosSortie }}</span>
                </div>
            </div>
            <div class="div-span">
            <div>
                <span>Campus :</span>
                <span>{{ sortie.campus.nom }}</span>
            </div>
            <div>
                <span>Ville :</span>
                <span>{{ sortie.lieu.ville.nom }}</span>
            </div>
            <div>
                <span>Lieu :</span>
                <span>{{ sortie.lieu.nom }}</span>
            </div>
            <div>
                <span>Rue :</span>
                <span>{{ sortie.lieu.rue }}</span>
            </div>
            <div>
                <span>Rue :</span>
                <span>{{ sortie.lieu.ville.codePostal }}</span>
            </div>
            <div>
                <span>Latitude :</span>
                <span>{{ sortie.lieu.latitude }}</span>
            </div>
            <div>
                <span>Longitude :</span>
                <span>{{ sortie.lieu.longitude }}</span>
            </div>
        </div>
        </article>
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | Detail de la sortie
{% endblock %}

